<% layout('layouts/boilerplate') %>
<div class="container-fluid">
    <% if(cardSet.cardCount!==0) { %>
    <div class="row justify-content-center">
        <div class="col-lg-6 mb-3">
            <div id="flashcard-container">
                <% cardSet.cards.forEach(function(card) {%>
                <div class="flashcard">
                    <div class="flashcard-card flashcard-front">
                        <div class="flashcard-text">
                            <%= card.front %>
                        </div>
                    </div>
                    <div class="flashcard-card flashcard-back">
                        <div class="flashcard-text">
                            <%= card.back %>
                        </div>
                    </div>
                </div>
                <% }); %>
            </div>
            <div class="d-flex justify-content-center">
                <i class="bi bi-caret-left" id="flashcard-backward"></i>
                <i class="bi bi-caret-right" id="flashcard-forward"></i>
            </div>
        </div>
    </div>
    <% } %>
    <div class="row justify-content-center">
        <div class="col-lg-8 mb-3">
            <div class="card cardset-info">
                <div class="card-body">
                    <h5 class="card-title"><%= cardSet.title %></h5>
                    <div class="card-text"><%= cardSet.description %></div>
                    <div class="card-text">Number of cards: <%= cardSet.cardCount %></div>
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item text">Submitted by <%= cardSet.author.username %></li>
                </ul>
                <% if (currentUser && cardSet.author.equals(currentUser._id)) { %>
                <div class="card-body">
                    <a class="card-link btn btn-info" href="/cardSets/<%=cardSet._id%>/edit">Edit</a>
                    <form class="d-inline" action="/cardSets/<%= cardSet._id%>?_method=DELETE" method="POST">
                        <button class="btn btn-danger">Delete</button>
                    </form>
                </div>
                <% } %>
            </div>
        </div>
    </div>
    <% if(currentUser && cardSet.author.equals(currentUser._id)) { %>
    <div class="row justify-content-center create-card">
        <div class="col-lg-8 card mb-3 p-2 cardset-info">
            <form class="validated-form row justify-content-center" action="/cardSets/<%=cardSet._id%>/cards" method="POST" novalidate>
                <div class="col-md-3">
                    <input type="text" class="form-control" name="card[front]" placeholder="Front">
                </div>
                <div class="col-md-3">
                    <input type="text" class="form-control" name="card[back]" placeholder="Back">
                </div>
                <div class="col-auto">
                    <button class="btn btn-success" id="add-card-btn">Create a card</button> 
                </div>
            </form>
        </div>
    </div>
    <% } %>
</div>

<script>
    const cardSet = <%- JSON.stringify(cardSet) %>
</script>
<script src="/javascripts/flashcard.js"></script>